/** Configuração da DIV com id tituloConteudo
**************************************************************************************/
@font-face {
    font-family: astro;
    src: url(../fonts/as.ttf);
}

@font-face {
    font-family: beckman;
    src: url(../fonts/Beckman-FREE.ttf);
}

#tituloConteudo {
    /** Define a cor **/
    color: rgb(230, 221, 220);
        
    /** Alinha ao centro **/
    text-align: center;
    font-family: beckman;
    
    /** Reduz a margem inferior **/
    margin-bottom: 10px;
}


/** Configuração da tabela dentro da DIV com id "areaProdutos" 
**************************************************************************************/

#areaProdutos table {
    /** Espaço entre as células **/    
    border-spacing: 25px;
    border-collapse: separate;

    /** Alinha ao centro **/
    text-align: center;
}


/** Configuração da td da tabela com id "areaProdutos" 
**************************************************************************************/

#areaProdutos td {    

    /** Largura das células **/
    width: 250px;
    
    /** Cor do texto   **/
    color: rgb(223, 213, 211);

    /** Tamanho de fonte   **/
    font-size: 16px;
    font-family: astro;
}


/** Configuração das imagens da area de produtos 
**************************************************************************************/

#areaProdutos td img {

    /** Configura um tamanho padrão para as imagens dos produtos **/
    width: 150px;
    height: 150px;

    /** Separa a imagem do título acima desta **/
    margin-top: 5px;

    /** Arredonda as fotos **/
    border-radius: 30%;
    
    /** Borda da foto  **/
    border: 3px solid rgb(116, 20, 135);
}

#areaProdutos td img {
    transition: transform 0.1s ease-in-out;
}

#areaProdutos td img:hover{
    transform: scale(1.1);

	border: 3px solid transparent;
	/**/border-image: conic-gradient(from var(--angle), rgb(165, 5, 197), rgb(209, 135, 197), rgb(60, 4, 211), rgb(19, 84, 224), rgb(207, 81, 186)) 1;
    border-radius: 30%;
    background: linear-gradient(90deg, rgb(165, 5, 197),  rgb(60, 4, 211));



}


/** Configuração dos elementos anotados com a classe "tituloProduto" 
**************************************************************************************/

.tituloProduto {
    
    /** Faz com que a fonte do elemento fique em negrito **/
    font-weight: bold;
    
    /** Remove a margem padrão dos elementos P **/
    margin: 0;
}


/** Seleciona elementos anotados com a classe "precoProduto" 
**************************************************************************************/

.precoProduto {

    /** Remove a margem padrão dos elementos P **/
    margin: 0;
}
