/** Configuração da DIV do Banner com id promocao
**************************************************************************************/
@font-face {
    font-family: beckman;
    src: url(../fonts/Beckman-FREE.ttf);
}

#promocao {

    /** Altura e margem **/
    height: 100%;
    height: 300px;
    width: 100%;
    max-width: 1000px;
    max-height: 300px;
    
    margin-top: 10px;

    /** Imagem do Banner  **/
    background-image: url('../imagens/promo.jpg');
    background-size: cover;
    
    
}


/** Configuração do header principal da promoção com id "promocaoH1" 
**************************************************************************************/

#promocaoH1 {

    /** Cor da fonte **/
    color: white;

    /** Tamanho de fonte **/
    font-size: 45px;
    
    /** Remove a margem **/
    margin: 0;
    
    /** Posicionando o elemento **/
    margin-left: 20px;
    position: absolute;

    /** Aplica sombra ao texto **/
    text-shadow: 4px 4px 4px #5d1c6b;
    font-family: beckman;
}


/** Configura o header com o preço no banner com id "promocaoValor" 
**************************************************************************************/

#promocaoValor {

    /** Cor da fonte  **/
    color: white;

    /** Tamanho da fonte **/
    font-size: 38px;

    /** Remove a margem  **/
    margin: 0;

    /** Aplica sombra ao texto **/
    text-shadow: 4px 4px 4px #5d1c6b;

    /** Posiciona os elementos **/
    left: 350px;
    top: 130px;
    position: relative;

    /** Largura **/
    width: 350px;

    font-family: beckman;
    text-align: center;
}



