/** Configuração da DIV principal do topo da página, com logo, titulo e menu 
**************************************************************************************/

#header {

    /** Preenche toda a largura da página **/
    width: 100%;

    /** Posiciona o elemento em relação ao corpo da página **/
    height: 180px;

    /** Margem interna **/
    padding-top: 10px;
	
}


/** Configuração da parte de cima da DIV principal, com logo e título da página 
**************************************************************************************/

#logo {
    /** largura capaz de armazenar logo e título **/
    width: 525px;

    /** Altura capaz de armazenar logo e título **/    
    height: 100;

    /** Posicionamento relativo para não encavalar com as outras DIVs **/
    position: relative;

    /** Centraliza a DIV **/
    text-align: center;
    margin: auto;
    
}


/** Logo do Site 
**************************************************************************************/

#logoImg {

    /** Tamanho **/
    width: 200px;
    height: 100%;

    /** Posição do logo **/
    float: Center;
    margin-top: 5px;
    
}

@font-face {
    font-family: kalheo;
    src: url(../fonts/Kalheo.ttf);
}

#tituloLogo {
    
    /** Posição **/
    float: center;

    /** Cor do texto **/
    color: rgb(169, 5, 234);

    /***   sombra no titulo   ****/
    text-shadow: 2px 2px 4px rebeccapurple;

    /** Posicionamento - tamanho da linha **/
    line-height: 100px;

    /** Sem margem**/
    margin: auto;

    /** Tamanho da fonte **/
    font-size: 28px;
    font-family: kalheo;
    letter-spacing: 4px;
}